{% url 'home:home' as home_url %}
{% url 'products:add' as sell_url %}
{% url 'account:register' as account_register_url %}
{% url 'favorites:home' as favorites_url %}

    <nav class="container-fluid" id="navigation">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link {% if request.path == home_url %}active{% endif %}" href="{{ home_url }}">
                    <div class="icons">
                        <i class="material-icons">home</i>
                    </div>
                    <span class="name">
                        home
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#cab">
                    <div class="icons">
                        <i class="material-icons">commute</i>
                    </div>
                    <span class="name">
                        taxi
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == sell_url %}active{% endif %}" href="{{ sell_url }}">
                    <div class="icons">
                        <i class="material-icons">add_circle_outline</i>
                    </div>
                    <span class="name">
                        sell
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == favorites_url %}active{% endif %}" href="{{ favorites_url }}">
                    <div class="icons">
                        <i class="material-icons">favorites</i>
                    </div>
                    <span class="name">
                        favorites
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == account_register_url %}active{% endif %}" href="{{ account_register_url }}">
                    <div class="icons">
                        <i class="material-icons">account_circle</i>
                    </div>
                    <span class="name">
                        account
                    </span>
                </a>
            </li>
        </ul>
    </nav>
