{% extends "../base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/accounts/login.css' %}"> 
{% endblock %}

{% block content %}
    {% for message in messages %}

    <div class="alert alert-warning">
        <a class="close" href="#" data-dismiss="alert">×</a>
        {{ message }}
    </div>
    {% endfor %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-xs-12">
                <form class="form-container" method="post">
                    {% csrf_token %}
                    <h1>Login</h1>
                    <hr>
                    {% for object in form %}
                    <div class="form-group">
                        <label>{{ object.label }}</label>
                        {{ object }}
                    </div>
                    {% endfor %}
                    <hr>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary btn-block" id="submitbutton">Submit</button>
                    </div>
                </form>
                <div class="alert alert-dark" role="alert">
                    <h6>Don't have an account?
                    <a class="btn btn-secondary" id="submitbutton" href="{% url 'account:register' %}">Sign Up</a>
                    </h6>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
