{% extends "../base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/accounts/register.css' %}"> 
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-xs-12">
            <form class="form-container" method="post">
                    {% csrf_token %}
                    <h1>Sign Up</h1>
                    <hr>
                    {% for object in form %}
                    <div class="form-group">
                        <label>{{ object.label }}</label>
                        {{ object }}
                    </div>
                    {% endfor %}
                    <div class="form-actions">
                            <button type="submit" class="btn btn-primary btn-block" id="submitbutton">Submit</button>
                    </div>
            </form>
            <div class="alert alert-dark" role="alert">
                <h6>Already Registered?
                <a class="btn btn-secondary" id="submitbutton" href="{% url 'account:login' %}">Log In</a>
                </h6>
            </div>
        </div>
    </div>
</div>
<div class="whitespace">
</div>

{% endblock %}
